<div class="container-fluid mini-wrapper">
    <div class="row">
        <div class="col-md-12 col-xs-12">
           <ul class="mini-nav-list">
               <li><a href="#/gallery">Gallery</a></li>
               <li><a href="#/contact">Contact</a></li>
               <li><a href="#/blog">Blog</a></li>
               <!--Shop page link for later integration (li element needs to be added)-->
           </ul>
            <span class="close"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
    </div>
</div>


<div class="container-fluid home-wrapper">
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <h1>Luna Marie <span class="divider">|</span> </h1>
            <h2>Tattooed Model</h2>
            <nav id="home-nav">
                <a href="#/gallery">Gallery</a>
                <a href="#/contact">Contact</a>
                <a href="#/blog">Blog</a>
                <!--Shop page link for later integration-->
                <a href="#/shop"></a>
                <a><i class="fa fa-bars" aria-hidden="true"></i></a>
            </nav>
            <ul id="social-list">
                <li><a href="https://www.facebook.com/lunamarielom/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a> </li>
                <li><a href="https://twitter.com/lunamarielom"><i class="fa fa-twitter-square" aria-hidden="true"></i></a></li>
                <li><a href="https://www.instagram.com/mslunamarie/"><i class="fa fa-instagram" aria-hidden="true"></i></a> </li>
            </ul>
        </div>
    </div>
</div>